body{
	font-family: "Yu Gothic";
	background-color: #e9eaed;
}
.container{
	height: 100%;
	padding: 0;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
p{
	font-size: 24px;
}
.drow{
	padding-top:5%;
	height: 20%
}
.result{
	overflow:auto;
	height: 75%;
}